#only System.Console
/*
!.gitignore
!/QuickApps
QuickApps/*
!/QuickApps/Console
!/QuickApps/Plugin
/QuickApps/Plugin/*
!/QuickApps/Cake
/QuickApps/Cake/*
!/QuickApps/Cake/Console
!/QuickApps/Plugin/System
/QuickApps/Plugin/System/*
!/QuickApps/Plugin/System/Console
