#only System.Console
/*
!.gitignore
!/app
app/*
!/app/Console
!/app/Plugin
/app/Plugin/*
!/app/Cake
/app/Cake/*
!/app/Cake/Console
!/app/Plugin/System
/app/Plugin/System/*
!/app/Plugin/System/Console
